.fiche{
	    padding: 15px;
	    margin: auto;

}

.field-content{
	display: none;
}



.btn{
    border-radius: 5px;
    background-color: #8eb5ff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-success{
	width: 200px;
	height: 30px;
	background-color: #69d3b5;
}

.btn-cancel{
	width: 120px;
	height: 30px;
	background-color: #bfbfbf;
}

.btn-show:focus ~ .field-content{
	display: block;
}



* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


fieldset{
	border-radius: 8px;
	border: 2px solid grey;
}


.input{
	width: 90%;
	padding: 10px;
	border: 0.5px solid grey;	
    border-radius: 5px;
    margin-top: 15px;
}

[class*="part-"] {
	height: auto;
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width: 640px) {
    /* For tablets: */
    .part-2 {width: 100%;}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .part-1 {width: 50%;}
    }


.header
{
	margin: auto;
	text-align: center;	
	background-color: #f4f4f4;
	width: 50%;
	border-radius: 4px;

	border: 1px solid grey;
}




/* scroll bar */

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}